.backyground
{
    background-color: #F5EFE7;
}

.foots
{
    background-color: #C38154;
    margin:20px;
}

.bodyyy
{
    background-color: #F2D8D8;
}

.card-text
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}
